body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfcfb;
    color: #333;
}

header {
    background-color: #3d2b24; /* Dark brown */
    padding: 1em 0;
    text-align: center;
    color: #fff;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.auth-links {
    position: absolute;
    top: 15px;
    right: 20px;
}

.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

h1 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 1.5px;
}

main {
    padding: 2em 0;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.plans {
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.plan {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.plan-icon {
    font-size: 4em;
    color: #7a5537; /* Brown */
}

h3 {
    font-size: 1.5em;
    margin-top: 1em;
}

p {
    font-size: 1em;
    margin-top: 0.5em;
    color: #555;
}

.register-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.register-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
 
.register-form label {
    font-weight: bold;
    color: #333;
}
 
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="tel"],
.register-form input[type="file"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 
.register-form small {
    font-size: 0.8em;
    color: #555;
}
 
.register-form button {
    padding: 0.75em;
    border: none;
    border-radius: 5px;
    background-color: #3d2b24;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
 
.register-form button:hover {
    background-color: #7a5537;
}

.next-button {
    display: inline-block;
    padding: 0.75em;
    margin-top: 1em;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #3d2b24;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
 
.next-button:hover {
    background-color: #7a5537;
}

.personal-info-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.personal-info-form label {
    margin-top: 10px;
}

.personal-info-form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.homeimage {
    width: 1200px;
    height: 700px;
}
